#intro {
    width: 40%;
    margin-left: 7%;
    float: left;
    margin-bottom: 2%;
}

#contenido aside {
    width: 20%;
    float: right;
    margin-right: 7%;
    border: 2px dotted black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-top: 2%;
}

#temas {
    background: #ededed;
    width: 93%;
    float: left;
    padding-left: 7%;
    margin-top: 5%;
    padding-top: 7%;
    padding-bottom: 5%;
}

#temas div {
    width: 33%;
    float: left;
}

#temas img {
    width: 90%;
    height: 90%;
}

#temas p {
    padding-right: 8%;
}

aside a {
    color: #43a047;
    text-decoration: none;
}

aside a:hover {
    text-decoration-line: underline;
}

@media screen and (max-width:49.06em) {
    #intro {
        width: 90%;
    }
    #contenido aside {
        width: 75%;
        margin-top: 5%;
    }
}

@media screen and (max-width:34.38em) {
    #temas div {
        width: 90%;
        padding-left: 5%;
        padding-bottom: 10%;
        border-bottom: 1px solid black
    }
    #temas img {
        width: 50%;
        height: 50%;
    }
}