#contenido {
    padding-left: 7%;
    padding-right: 7%;
}

#map {
    height: 400px;
    margin-bottom: 5%;
}

a {
    color: #43a047;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}